:root {
  --my-custom-color: #a0896e;
}

section {
  padding-top: 120px;
  padding-bottom: 100px;
}

body {
  background: linear-gradient(to top, rgb(227, 190, 126), rgb(244, 233, 175));
  font-family: "Karia", serif;
}
.custom-thumbnail {
  border: 5px solid #b19c5e !important; /* Warna border kuning Bootstrap */
  box-shadow: 0 0 20px #ffffff !important; /* Shadow default */
}

.hero-box .box p {
  width: 500px;
}

.bg-primary {
  background-color: #a0896e !important;
}

.text-primary {
  color: #9c7851 !important;
  text-shadow: 0 0 10px rgb(225, 216, 151);
}

.btn-primary {
  background-color: var(--my-custom-color) !important;
  border-color: var(--my-custom-color) !important;
}

.btn-outline-primary {
  color: var(--my-custom-color) !important;
}

.btn-outline-primary {
  color: #000000 !important;
  border-color: #63594d !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  color: #fff !important;
  background-color: var(--my-custom-color);
  border-color: var(--my-custom-color);
}
